.contact-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    z-index: 1;
    align-items: center;
  }
  .contact-background-space{
    margin-top: 890px;
   }
  .contact-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    padding: 0px 0px 80px 0px;
    gap: 12px;
  }
  
  .contact-title {
    font-size: 52px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: var(--text-primary);
  }
  
  .contact-desc {
    font-size: 18px;
    text-align: center;
    max-width: 600px;
    color: #ccc;
  }
  
  .contact-form {
    width: 95%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgba(17, 25, 40, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 32px;
    border-radius: 12px;
    box-shadow: rgba(23, 92, 230, 0.1) 0px 4px 24px;
    margin-top: 28px;
    gap: 12px;
  }
  
  .contact-form-title {
    font-size: 28px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
  }
  
  .contact-input,
  .contact-input-message {
    flex: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    font-size: 18px;
    color: #fff;
    border-radius: 12px;
    padding: 12px 16px;
  }
  
  .contact-input:focus,
  .contact-input-message:focus {
    border: 1px solid #854ce6;
  }
  
  .contact-button {
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(225deg, #854ce6 0%, #6b36e6 100%);
    padding: 13px 16px;
    margin-top: 2px;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
