.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  padding: 40px 10px;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  gap: 12px;
}

.experience-title {
  font-size: 60px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  color: var(--text-primary);
}

.experience-desc {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .experience-title {
    font-size: 32px;
  }
  .experience-desc {
    font-size: 16px;
  }
  .experience-desc{
    font-size: 1.2rem;
  }
}

.experience-background{
  margin-top: 10px;
}