.project-card {
    width: 330px;
    height: 550px;
    background-color: var(--card-bg);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    transition: all 0.5s ease-in-out;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.6);
    filter: brightness(1.1);
  }
  
  .project-image {
    width: 100%;
    height: 180px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.3);
  }
  
  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: transparent;
  }
  
  .project-tag {
    font-size: 12px;
    font-weight: 500;
    color: #854CE6;
    background-color: var(--primary-hover);
    padding: 2px 8px;
    border-radius: 10px;
  }
  
  .project-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: transparent;
  }
  
  .project-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background-color: transparent;
  }
  
  .project-date {
    font-size: 12px;
    font-weight: 400;
    color: var(--text_secondary);
    background-color: transparent;
  }
  
  .project-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--text_secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    background-color: transparent;
  }
  
  .project-members {
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  
  .project-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: -10px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--card-bg);
  }
  