@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  
}

body {
  margin: 0px !important;
  padding: 0;
}

:root {
    --bg-color: #080616; 
    --base-color:#ffffff;
    --primary-color:#f0f0f0cf;
    --text-primary:#854CE6;
    --card_light: #191924;
    --primary-hover: #844ce622;
    --card-bg:#1c1e27ac;
    --text_secondary: #b1b2b3;
    --card: #171721;
}

::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222a35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

